---
page_title: "Using Wallet and the BYOK Module"
---

# Using Wallet and the BYOK Module
- [Preparation](#preparation)
- [Sample Configuration](#sample)

The following is an example of how to instantiate a Clumio wallet and install the
[Clumio BYOK module](https://registry.terraform.io/modules/clumio-code/byok-template/clumio/latest)
to an AWS account. NOTE that the AWS account used does not have to be the same as an AWS account to
be protected. However, at least one AWS account must be connected with the
[Clumio AWS module](https://registry.terraform.io/modules/clumio-code/aws-template/clumio/latest)
prior to setting up a Clumio wallet and BYOK. The subsequent steps assume that such an AWS account
has already been setup.

<a name="preparation"></a>
## Preparation
Please see the "Getting Started" guide for notes about setting up a Clumio API key as well as
setting up AWS environment variables.

<a name="sample"></a>
## Sample Configuration
This sample configuration highlights the creation of a Clumio wallet and the installation of the
[Clumio BYOK module](https://registry.terraform.io/modules/clumio-code/byok-template/clumio/latest).
NOTE that if desired, an existing Multi-Region AWS CMK ID can be given.

{{ tffile "examples/guides/byok.tf" }}
