---
page_title: "Using a Wallet and BYOK"
---

# Using a Wallet and BYOK
- [Prerequisites](#prerequisites)
- [Sample configuration](#sample-configuration)

<a name="prerequisites"></a>
## Prerequisites
At least one AWS account must be connected prior to using a Wallet and BYOK.

<a name="sample-configuration"></a>
## Sample configuration
This sample Terraform configuration highlights the creation of a Wallet resource and the
installation of the BYOK module.

{{ tffile "examples/guides/byok.tf" }}
