---
page_title: "Sample Configuration"
---

# Sample Configuration
The following sample Terraform configuration highlights several resources in the provider. This
includes:
* `clumio_aws_connection` (as well as installation of the [Clumio AWS module](https://registry.terraform.io/modules/clumio-code/aws-template/clumio/latest))
* `clumio_protection_group`
* `clumio_policy`
* `clumio_policy_assignment`
* `clumio_policy_rule`
* `clumio_organizational_unit`
* `clumio_user`

{{ tffile "examples/guides/complete_config.tf" }}
